// COLORS
$orange: #fc7935;
$green: #81ef81;
$purple: #8d9fff;
$black: #333;
$orange-light: #fcd8be;
$white: #ffffff;
$grey: #7d7d7d;
$dark-grey: #444444;

// FONTS
$rosca: "Rosca", system-ui, sans-serif;
$lato: "Inter", sans-serif;

// OTHER

// RESPONSIVE BREAKPOINTS
$bp-xl: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-med: 50em; // 800px;
$bp-small: 37.5em; // 600px;
$bp-xs: 25em; // 400px;
