// COLORS
$orange: #fc7935;
$green: #81ef81;
$purple: #8d9fff;
$black: #333;
$orange-light: #fcd8be;
$white: #ffffff;
$grey: #7d7d7d;
$dark-grey: #444444;

// FONTS
$rosca: "Rosca", system-ui, sans-serif;
$lato: "Inter", sans-serif;

// OTHER

// RESPONSIVE BREAKPOINTS
$bp-laptopL: 90em; // 1440px
$bp-laptop: 64em; // 1024px
$bp-tablet: 48em; // 768px
$bp-mobileL: 35.9375em; // 575px
$bp-mobileM: 23.4375em; // 375px
$bp-mobileS: 20em; // 320px
