.nav {
  padding: 2rem;
  border-bottom: 0.1rem $orange solid;
  box-shadow: 0.1rem 0.9rem 3rem 0 rgba(0, 0, 0, 0.3);

  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  // justify-items: center;
}
