.nav {
  padding: 2rem 4rem;
  border-bottom: 0.1rem $orange solid;
  box-shadow: 0.1rem 0.9rem 3rem 0 rgba(0, 0, 0, 0.3);

  display: grid;
  grid-template-columns: 2fr 7fr 2fr;

  @media only screen and (max-width: $bp-tablet) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, max-content);
    row-gap: 2rem;
  }

  @media only screen and (max-width: $bp-mobileL) {
    padding: 2rem;
  }

  @media only screen and (max-width: $bp-mobileS) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
