.navLinks {
  justify-self: end;
  align-self: center;

  margin-bottom: 2rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;
  justify-items: end;

  @media only screen and (max-width: $bp-mobileL) {
    grid-template-columns: 1fr;
  }

  & > :last-child {
    grid-column: 2 / -1;

    @media only screen and (max-width: $bp-mobileL) {
      grid-column: 1 / -1;
    }
  }
}

.link {
  font-size: 2.2rem;
  text-decoration: none;
  transition: all 0.3s ease-in;
  text-align: right;

  &:visited,
  &:link {
    color: $orange;
  }

  &:hover {
    color: $green;
    transform: translateY(-0.3rem);
  }
}
