.aboutUs {
  padding: 6rem 4rem 2rem 4rem;
  min-height: 80lvh;

  @media only screen and (max-width: $bp-mobileL) {
    padding: 4rem 2rem;
  }

  & > :last-child {
    @media only screen and (max-width: $bp-mobileL) {
      padding: 0;
    }
  }
}
