.section {
  padding: 6rem 4rem;
  min-height: 80lvh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;

  @media only screen and (max-width: $bp-mobileL) {
    padding: 4rem 2rem;

    grid-template-columns: 1fr;
    grid-template-rows: 50lvh max-content;
  }

  p {
    margin: 1rem 0;
    font-size: 2.2rem;
    font-family: $lato;
    line-height: 1.3;
  }
}

.heroGallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 4rem;

  @media only screen and (max-width: $bp-mobileL) {
    gap: 2rem;
  }
}

.heroImageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0.1rem 0.9rem 2rem 0 rgba(0, 0, 0, 0.2);

  &1 {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
  }

  &2 {
    grid-row: 2 / -1;
    grid-column: 1 / 2;
  }

  // &3 {
  //   grid-row: 1 / 5;
  // }
}

.filler {
  background-color: $orange-light;
  border-radius: 0.5rem;

  &1 {
    // grid-column: 1 / 5;
    // grid-row: 3 / -1;
  }

  &2 {
    background-color: rgba($green, 0.3);
    // grid-column: 9 / -1;
    // grid-row: 3 / -1;
  }

  &3 {
    background-color: rgba($purple, 0.3);
    // grid-column: 5 / 9;
    // grid-row: 1 / 3;
  }
}
