.section {
  padding: 6rem 4rem;
  min-height: 80lvh;

  display: grid;
  grid-template-columns: 3fr 7fr;
  column-gap: 4rem;
  align-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: 50lvh max-content;
    gap: 2rem;
  }

  @media only screen and (max-width: $bp-mobileL) {
    padding: 4rem 2rem;
  }

  p {
    margin-top: 1rem;
    font-size: 2.2rem;
    font-family: $lato;
  }
}

.confirmation {
  padding: 6rem 4rem;
  min-height: 80lvh;
  text-align: center;
  line-height: 1.3;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  @media only screen and (max-width: $bp-mobileL) {
    padding: 4rem 2rem;
  }
}

.buttons {
  margin-top: 2rem;
  display: flex;
  column-gap: 2rem;
}

.heroGallery {
  height: 60lvh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 3rem;

  @media only screen and (max-width: $bp-tablet) {
    gap: 2rem;
    height: 100%;
    grid-row: 1 / 2;
    margin-bottom: 2rem;
  }
}

.heroImageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0.1rem 0.9rem 2rem 0 rgba(0, 0, 0, 0.2);

  &1 {
    grid-column: 1 / 5;
    grid-row: 1 / 3;
  }

  &2 {
    grid-column: 5 / 9;
    grid-row: 3 / -1;
  }

  &3 {
    grid-column: 9 / -1;
    grid-row: 1 / 3;
  }
}

.filler {
  background-color: $orange-light;
  border-radius: 0.5rem;

  &1 {
    grid-column: 1 / 5;
    grid-row: 3 / -1;
  }

  &2 {
    background-color: rgba($green, 0.3);
    grid-column: 9 / -1;
    grid-row: 3 / -1;
  }

  &3 {
    background-color: rgba($purple, 0.3);
    grid-column: 5 / 9;
    grid-row: 1 / 3;
  }
}
