.card {
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: $green;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 3rem;
  height: 3rem;
  margin-bottom: 1rem;
  color: $purple;

  svg {
    width: 100%;
    height: 100%;
  }
}

.overview {
  h6 {
    margin-bottom: 0.5rem;
  }
}

.text {
  font-size: 1.6rem;
  font-family: $lato;
  color: #444;
  line-height: 1.3;
}
