.heading1,
.heading2,
.heading3,
.heading4,
.heading5,
.heading6 {
  word-wrap: break-word;
}

.heading1 {
  font-size: 3rem;
}

.heading2 {
  font-size: 2.8rem;
}

.heading3 {
  font-size: 2.6rem;
}

.heading4 {
  font-size: 2.4rem;
}

.heading5 {
  font-size: 2.2rem;
}

.heading6 {
  font-size: 2rem;
}
