.logoBox {
  border-radius: 0.5rem;
  overflow: hidden;
}

.logo {
  height: 7rem;
  width: 20rem;
  aspect-ratio: 16 / 9;
  position: relative;
  object-fit: cover;
  object-position: center;

  @media only screen and (max-width: $bp-mobileL) {
    width: 15rem;
    height: 5rem;
  }
}
