.button,
.button:visited,
a.button,
a.button:visited {
  text-decoration: none;
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: 2.2rem;
  width: max-content;
  cursor: pointer;
  outline: none;
  border: none;

  transition: all 0.3s ease-in;

  &:hover,
  &:active {
    transform: translateY(-0.3rem) scale(1.05);
  }

  &.orange {
    background-color: $orange;
    color: $white;
  }

  &.green {
    background-color: $green;
    color: #333;
  }

  &.purple {
    background-color: $purple;
    color: $white;
  }
}

.asideLinkBtn,
.asideLinkBtn:visited,
a.asideLinkBtn,
a.asideLinkBtn:visited {
  text-decoration: none;
  display: block;
  padding: 2rem;
  font-family: $rosca;
  font-size: 2.2rem;
  width: 100%;
  cursor: pointer;
  outline: none;
  border: none;

  transition: all 0.3s ease-in;

  background-color: white;
  color: $orange;

  &:hover,
  &:active {
    background-color: $green;
    color: $orange;
  }

  &.activeBtn {
    background-color: $orange;
    color: $white;

    &:hover,
    &:active {
      background-color: $green;
      color: $orange;
    }
  }
}
