.hero {
  padding: 6rem 4rem 4rem;
  min-height: 80lvh;
  max-height: max-content;

  display: grid;
  grid-template-columns: 4fr 6fr;
  column-gap: 4rem;

  @media only screen and (max-width: $bp-tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: max-content 65lvh;
    row-gap: 4rem;
  }

  @media only screen and (max-width: $bp-mobileL) {
    padding: 4rem 2rem;
  }
}

.cta {
  align-self: center;
}

.text {
  margin-top: 1rem;
  font-size: 2.2rem;
  font-family: $lato;
  color: $dark-grey;
  line-height: 1.3;
}

.ctaButtons {
  margin-top: 2rem;
  display: flex;
  column-gap: 2rem;
}

.heroGallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 3rem;

  @media only screen and (max-width: $bp-mobileL) {
    column-gap: 1rem;
  }
}

.heroImageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0.1rem 0.9rem 2rem 0 rgba(0, 0, 0, 0.2);

  &1 {
    grid-row: 1 / 4;
  }

  &2 {
    grid-row: 2 / -1;
  }

  &3 {
    grid-row: 1 / 5;
  }
}
