.howitworks {
  padding: 2rem 4rem 6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: $bp-mobileL) {
    padding: 2rem 2rem 4rem;
  }

  h2 {
    text-align: center;
  }
}

.text {
  width: 50%;
  text-align: center;
  line-height: 1.3;
  font-family: $lato;
  font-size: 2.2rem;

  margin-top: 0.5rem;
  margin-bottom: 2rem;

  @media only screen and (max-width: $bp-tablet) {
    width: 100%;
  }
}
