.services {
  min-height: 60lvh;
  max-height: max-content;
  padding: 0 4rem 4rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
  align-items: center;

  @media only screen and (max-width: $bp-mobileL) {
    grid-template-columns: 1fr;
    grid-template-rows: 50lvh max-content;
    row-gap: 4rem;
  }

  @media only screen and (max-width: $bp-mobileL) {
    padding: 0 2rem 2rem;
  }

  & > :first-child {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0.1rem 0.9rem 2rem 0 rgba(0, 0, 0, 0.2);

    border-radius: 0.5rem;
    overflow: hidden;
  }

  [class*="button"] {
    @media only screen and (max-width: $bp-mobileL) {
      width: 100%;
      text-align: center;
    }
  }
}

.content {
}

.servicesContainer {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.serviceList {
  list-style: none;
  list-style-position: unset;
  padding: 0;
}

.serviceItem {
  font-family: $lato;
  font-size: 2.2rem;
  margin-bottom: 1rem;
  line-height: 1.3;
  color: $dark-grey;

  span {
    font-family: $rosca;
    font-weight: 600;
    color: $purple;
  }
}
